.conditions {
  position: relative;
  margin: 0;
  margin-top: -10px;
}

.conditions::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: flex;
  width: 216px;
  height: 254px;
  top: 180px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../img/stamp--desktop@1x.png");
}

.conditions__inner {
  position: relative;
  max-width: 1366px;
  min-height: 1208px;
  margin: 0 auto;
}

.conditions__holder {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
  margin-right: 5%;
}

.conditions__title {
  width: 95%;
  margin: 10px auto;
  margin-top: 1px;
  @include font-title-desktop;
  text-align: left;
}

.conditions__text {
  width: 95%;
  margin: 10px auto;
  margin-top: 14px;
  padding-right: 16%;
  line-height: 1.75;
  color: $black-color-87;
}

.conditions__subtitle {
  width: 95%;
  margin: 10px auto;
  margin-top: 22px;
  padding-right: 20%;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.75;
}

.conditions__list {
  position: relative;
  width: 95%;
  margin: 0;
  margin-top: 12px;
  margin-left: -12px;
  padding: 0;
  padding-left: 12px;
  list-style: none;
  overflow: hidden;
}

.conditions__list::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  min-height: 193px;
  height: 49%;
  top: 38px;
  left: 29px;
  background-repeat: no-repeat;
  background-image: url("../img/border-dashed@1x.svg");
}

.conditions__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.conditions__item--margin-another {
  margin-bottom: 35px;
}

.conditions__item--margin-other {
  margin-bottom: 19px;
}

.conditions__item:nth-child(n + 5)::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  min-height: 72px;
  height: 100%;
  top: -62px;
  left: 17px;
  background-repeat: repeat;
  background-image: url("../img/border-dashed@1x.svg");
}

.conditions__item-index {
  position: relative;
  z-index: 3;
  padding: 5px;
  padding-top: 2px;
  padding-left: 14px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.75;
  color: $yellow-color;
}

.conditions__item-index::after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.conditions__item-index--margin-another {
  margin-top: -10px;
}

.conditions__item-text {
  margin: 0;
  padding: 10px 32px;
  padding-right: 18%;
  line-height: 1.4;
  color: $black-color-87;
}

.conditions__item-text--padding-another {
  padding-top: 15px;
}

.conditions__note {
  position: relative;
  width: 95%;
  margin: 13px auto;
  padding: 0 16px;
  line-height: 1.4;
  color: $black-color-50;
}

.conditions__note::before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 100%;
  left: -1px;
  top: 0;
  background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
}

@media (max-width: 1330px) {
  .conditions__holder {
    min-width: 480px;
    width: 54%;
  }

  .conditions__text,
  .conditions__subtitle,
  .conditions__item-text {
    padding-right: 16px;
  }
}

@media (max-width: $mobile-width) {
  .conditions {
    margin-top: 0;
  }

  .conditions::before {
    width: 216px;
    height: 199px;
    top: 275px;
    background-image: url("../img/stamp--mobile@1x.png");
  }

  .conditions__inner {
    min-height: auto;
  }

  .conditions__holder {
    min-width: initial;
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
  }

  .conditions__title {
    @include font-title-mobile;
    text-align: center;
  }

  .conditions__text {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.6;
  }

  .conditions__subtitle {
    margin-top: 13px;
    padding-right: 0;
    @include font-text-mobile;
  }

  .conditions__list {
    width: 100%;
    margin-top: 11px;
    margin-left: -5px;
    margin-right: 0;
    padding-right: 3px;
    padding-left: 5px;
  }

  .conditions__list::after {
    left: 22px;
  }

  .conditions__item:nth-child(n + 5)::after {
    top: -54px;
  }

  .conditions__item {
    margin-bottom: 17px;
  }

  .conditions__item--margin-another {
    margin-bottom: 40px;
  }

  .conditions__item--margin-other {
    margin-bottom: 5px;
  }

  .conditions__item:last-child {
    margin-bottom: 6px;
  }

  .conditions__item-text {
    padding-right: 0;
    padding-left: 24px;
    line-height: 1.5;
    color: $black-color-87;
    letter-spacing: -0.5px;
  }

  .conditions__item-index--margin-another {
    margin-top: 0;
  }

  .conditions__note {
    width: 100%;
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.6;
  }

  .conditions__note::before {
    left: 2px;
  }
}

@media (max-width: 400px) {
  .conditions__list::after {
    min-height: 241px;
  }
}

@media (min-width: 550px) and (max-width: $mobile-width) {
  .conditions__list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }
}

@media (min-width: $no-mobile-width) {
  .conditions__inner::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: flex;
    min-height: 1208px;
    max-width: 1366px;
    width: 100%;
    margin-top: -230px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: $background-color;
    background-image: url("../img/conditions-background@1x.jpg");
    /* stylelint-disable */
    background-image: -webkit-image-set(url("../img/conditions-background@1x.webp") 1x);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/conditions-background@2x.jpg");
      background-image: -webkit-image-set(url("../img/conditions-background@2x.webp") 2x);
    }
  }
}
