.error {
  z-index: 60;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  min-height: 521px;
  top: 7.3em;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 60px 40px;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 8px;
  text-align: center;
}

.error__inner {
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 8px;
}

.error__title {
  width: 96%;
  margin: 65px auto;
  margin-top: 85px;
  @include font-subtitle-desktop;
  color: rgba(255, 0, 0, 0.75);
}

.error__button {
  width: 66%;
  margin: 85px auto;
  margin-top: 20px;
  padding: 19px 40px;
  padding-top: 20px;
  @include button;
  background-image: initial;
  background-color: $black-color;
  border: none;
  outline: none;
}

.error__button:active {
  background-color: $black-color-50;
}

@media (max-width: $mobile-width) {
  .error {
    min-height: 590px;
    top: 2.3em;
    padding: 95px 35px;
  }

  .error__button {
    width: 85%;
    max-width: 350px;
  }
}

@media (max-width: 482px) {
  .error {
    min-height: 768px;
    top: 0;
    padding: 169px 35px;
  }
}

@media (min-width: $no-mobile-width) {
  .error__button:hover,
  .error__button:focus {
    background-color: $black-color-87;
  }
}
