.modal-form {
  z-index: 60;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  min-height: 521px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 35px;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 8px;
  text-align: left;
}

.modal-form__title {
  @include font-subtitle-desktop;
  width: 96%;
  margin: 15px auto;
}

.modal-form__text {
  width: 96%;
  margin: 2px auto;
  margin-bottom: 27px;
  padding-right: 25px;
  font-size: 15px;
  line-height: 1.75;
}

.modal-form__text > br {
  display: none;
}

.modal-form__button-close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 6.3%;
  top: 27px;
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-form__button-close::after,
.modal-form__button-close::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  border: none;
  outline: none;
  background: linear-gradient(109.42deg, #ffc341 20.46%, #ffd701 65.31%);
  transform-origin: 50% 50%;
  transition: $transition;
}

.modal-form__button-close::before {
  transform: translateX(-50%) rotate3d(0, 0, 1, 45deg);
}

.modal-form__button-close::after {
  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg);
}

.modal-form__button-close:active::before,
.modal-form__button-close:active::after {
  background: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
  opacity: 0.5;
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-form input {
  min-height: 59px;
  width: 90%;
  max-width: 512px;
  margin: 4px auto;
  margin-left: 2%;
  padding: 18px 39px;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $black-color-87;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  outline: none;
  transition: $transition;
  -webkit-appearance: none;
}

.modal-form input::-webkit-input-placeholder {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: $black-color;
  opacity: 0.5;
}

.modal-form input::-moz-placeholder {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: $black-color;
  opacity: 0.5;
}

.modal-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal-form input:focus::-moz-placeholder {
  color: transparent;
}

.modal-form input:focus {
  @include input-hover;
}

.modal-form button#modal-submit {
  @include button;
  width: 66%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 19px 40px;
  padding-top: 20px;
  border: none;
  outline: none;
  transition: $transition;
}

.modal-form button#modal-submit:active {
  @include button-active;
}

.modal-form__personal {
  position: relative;
  width: 305px;
  margin: 8px auto 0;
  padding: 5px;
  padding-left: 43px;
  border: 2px solid transparent;
}

.modal-form label[for="data"] {
  position: relative;
  height: initial;
  font-size: 13px;
  line-height: 1.5;
  color: $black-color-74;
  white-space: initial;
  overflow: initial;
  border: initial;
  clip: initial;
  clip-path: initial;
  margin: 0;
}

.modal-form label[for="data"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-image: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
  border-image-slice: 1;
}

.modal-form input#data {
  z-index: 21;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  min-height: 8px;
  padding: 0;
  margin: 0 auto;
  transform: translateX(-21px);
  border: none;
  background-color: transparent;
  border-radius: 0;
}

.modal-form input#data:checked {
  position: absolute;
  display: flex;
  top: 11.5px;
  align-self: center;
  background: linear-gradient(142.39deg, #ffc341 20.46%, #ffd701 65.31%);
}

.modal-form input#data:focus {
  border: none;
  box-shadow: none;
}

.modal-form__phone--placeholder {
  position: relative;
}

.modal-form__phone--placeholder::before {
  content: "";
  z-index: 100;
  position: absolute;
  display: block;
  width: 115px;
  height: 6px;
  top: 43px;
  left: 66px;
  background-repeat: no-repeat;
  background-image: url("../img/placeholder.png");
}

@media (max-width: $mobile-width) {
  .modal-form {
    min-height: 590px;
    top: 2.3em;
    transform: translateX(-50%) translateY(0);
    padding: 80px 5px;
    padding-bottom: 75px;
  }

  .modal-form__button-close {
    right: 6.8%;
    top: 20px;
  }

  .modal-form__title {
    @include font-subtitle-mobile;
    width: 96%;
    margin: 0 auto;
  }

  .modal-form__text {
    width: 90%;
    max-width: 370px;
    margin-top: 17px;
    padding-right: 0;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
  }

  .modal-form input {
    width: 93%;
    max-width: 380px;
    margin: 4px auto;
    letter-spacing: 0.7px;
  }

  .modal-form__phone {
    display: flex;
    width: 93%;
    margin: 0 auto;
  }

  .modal-form__phone > input {
    width: 100%;
  }

  .modal-form__phone--placeholder::before {
    left: 20%;
  }

  .modal-form button#modal-submit {
    width: 85%;
    max-width: 350px;
  }
}

@media (max-width: 482px) {
  .modal-form {
    min-height: 768px;
    top: 0;
    padding: 169px 5px;
    padding-bottom: 164px;
  }
}

@media (max-width: 415px) {
  .modal-form__phone--placeholder::before {
    left: 58px;
  }
}

@media (max-width: 400px) {
  .modal-form__text > br {
    display: initial;
  }
}

@media (min-width: $no-mobile-width) {
  .modal-form__button-close:hover::before,
  .modal-form__button-close:focus::before,
  .modal-form__button-close:hover::after,
  .modal-form__button-close:focus::after {
    background: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
    opacity: 0.87;
  }

  .modal-form button#modal-submit:hover,
  .modal-form button#modal-submit:focus {
    @include button-hover;
  }
}
