.phone-placeholder {
  position: relative;
}

.phone-placeholder::before {
  content: "";
  z-index: 100;
  position: absolute;
  display: block;
  width: 115px;
  height: 6px;
  top: 43px;
  left: 66px;
  background-repeat: no-repeat;
  background-image: url("../img/placeholder.png");
}

@media (max-width: $mobile-width) {
  .phone-placeholder::before {
    left: 20%;
  }
}

@media (max-width: 415px) {
  .phone-placeholder::before {
    left: 58px;
  }
}
