$tablet-width: 1023px;
$no-mobile-width: 768px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$black-color: #484848;
$black-color-87: rgba(72, 72, 72, 0.87);
$black-color-74: rgba(72, 72, 72, 0.74);
$black-color-50: rgba(72, 72, 72, 0.5);
$blue-color: #1fc0fc;
$yellow-color: #ffc341;
$background-color: #bbb955;
$gradient-color: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$opacity: 0.32;
$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
$box-shadow: 0 16px 36px -24px $black-color;
$transition: all ease-in 0.3s;

@mixin font-title-desktop {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: $blue-color;
}

@mixin font-title-mobile {
  font-size: 32px;
  line-height: 39px;
}

@mixin font-subtitle-desktop {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue-color;
}

@mixin font-subtitle-mobile {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@mixin font-text-desktop {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  color: $black-color;
}

@mixin font-text-mobile {
  font-size: 16px;
  line-height: 1.65;
  text-align: left;
}

@mixin font-preview-desktop {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 25px;
  color: #ffffff;
  text-shadow: $text-shadow;
}

@mixin font-preview-mobile {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@mixin link-hover {
  background: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  opacity: 0.87;
  outline: none;
  transition: $transition;
}

@mixin link-active {
  background: linear-gradient(132.19deg, #ffc341 20.46%, #ffd701 65.31%);
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  opacity: 0.5;
}

@mixin button {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: $text-shadow;
  background-image: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
  border-radius: 80px;
  letter-spacing: 0.2px;
}

@mixin button-hover {
  background-image: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
  transition: $transition;
}

@mixin button-active {
  background-image: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
    linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
}

@mixin input-hover {
  border-color: #ffd701;
  transition: $transition;
}
